body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f0f0;
  width: 100%;
  height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 3fr;
  width: 80%;
  justify-items: center;
  align-items: center;
}

.complaint {
  grid-area: 2/1/3/1;
  background-color: darkgrey;
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: start;
}

.complaint .submit {
  width: 50%;
  height: 15%;
  align-self: center;
  justify-content: end;
  margin-top: 5%;
}

.connection {
  grid-area: 3/1/4/1;
  background-color: darkgrey;
  width: 50%;
  height: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
